* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-align: center;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    max-width:60%;
}
